h1{
	text-align: center;
}
li{
	margin-top: 10px;
}
img{
	width: 100%;
}

.container{
	display: block;
	max-width: 1200px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	background-color:#1FA;
	font-family: "Helvetica", "Tahoma", sans-serif;
}
.row-3{
	display: block;
	float: left;
	width: 33,33%;
	height: 100%;
	margin:15px;
	padding:0;
}
.row-9{
	display: block;
	float: left;
	width: 66.66%;
	height: 100%;
	margin:15px;
	padding:0;
}

